In [1]:
from pyspark.sql import SparkSession
import os
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-22"

In [5]:
spark  = SparkSession.builder.appName('Aggregation').getOrCreate()

In [24]:
df_pyspark = spark.read.csv('aggregations.csv',header=True,inferSchema=True)

In [25]:
#drop all nulls
df_pyspark = df_pyspark.na.drop()
df_pyspark.show()

+--------+---+----------+------+--------------------+
|    Name|Age|Experience|Salary|          Department|
+--------+---+----------+------+--------------------+
|    John| 25|         7| 20000|        Data Science|
| Michael| 28|         9|  8000|    Data Engineering|
|   David| 40|         8| 25000|Software Engineering|
|  Rachel| 29|         6| 18000|  Product Management|
|Jennifer| 31|        10| 12000|Research and Deve...|
|    John| 25|        10| 25000|        Data Science|
| Michael| 28|        12| 12000|    Data Engineering|
|   David| 40|        11| 35000|Software Engineering|
|  Rachel| 29|         9| 25000|  Product Management|
|Jennifer| 31|        13| 18000|Research and Deve...|
+--------+---+----------+------+--------------------+

In [26]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [27]:
# Assuming df_pyspark is your DataFrame
df_pyspark = df_pyspark.drop('Age', 'Experience')

In [28]:
## Groupby

df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Jennifer|      30000|
| Michael|      20000|
|    John|      45000|
|  Rachel|      43000|
|   David|      60000|
+--------+-----------+

In [29]:
### group departmenst wich give maximum salary
df_pyspark.groupBy('Department').sum().show()

+--------------------+-----------+
|          Department|sum(Salary)|
+--------------------+-----------+
|  Product Management|      43000|
|    Data Engineering|      20000|
|Research and Deve...|      30000|
|Software Engineering|      60000|
|        Data Science|      45000|
+--------------------+-----------+

In [30]:
df_pyspark.groupBy('Department').mean().show()

+--------------------+-----------+
|          Department|avg(Salary)|
+--------------------+-----------+
|  Product Management|    21500.0|
|    Data Engineering|    10000.0|
|Research and Deve...|    15000.0|
|Software Engineering|    30000.0|
|        Data Science|    22500.0|
+--------------------+-----------+

In [31]:
df_pyspark.groupBy('Department').count().show()

+--------------------+-----+
|          Department|count|
+--------------------+-----+
|  Product Management|    2|
|    Data Engineering|    2|
|Research and Deve...|    2|
|Software Engineering|    2|
|        Data Science|    2|
+--------------------+-----+

In [32]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     198000|
+-----------+

In [33]:
df_pyspark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|Jennifer|      18000|
| Michael|      12000|
|    John|      25000|
|  Rachel|      25000|
|   David|      35000|
+--------+-----------+

In [34]:
df_pyspark.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(Salary)|
+--------+-----------+
|Jennifer|      12000|
| Michael|       8000|
|    John|      20000|
|  Rachel|      18000|
|   David|      25000|
+--------+-----------+

In [35]:
df_pyspark.groupBy('Name').avg().show()

+--------+-----------+
|    Name|avg(Salary)|
+--------+-----------+
|Jennifer|    15000.0|
| Michael|    10000.0|
|    John|    22500.0|
|  Rachel|    21500.0|
|   David|    30000.0|
+--------+-----------+