In [6]:
import pyspark
import pandas as pd
import os
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-22"

In [7]:
df = pd.read_csv('age.csv')
df

       Name  Age
0      John   25
1     Emily   30
2   Michael   28
3     Sarah   35
4     David   40
5   Jessica   22
6    Daniel   33
7    Rachel   29
8   Matthew   26
9  Jennifer   31

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Tutorial_1').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('age.csv')

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [13]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|    John| 25|
|   Emily| 30|
| Michael| 28|
|   Sarah| 35|
|   David| 40|
| Jessica| 22|
|  Daniel| 33|
|  Rachel| 29|
| Matthew| 26|
|Jennifer| 31|
+--------+---+

In [16]:
spark.read.option('header','true').csv('age.csv')

DataFrame[Name: string, Age: string]

In [17]:
spark.read.option('header','true').csv('age.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|    John| 25|
|   Emily| 30|
| Michael| 28|
|   Sarah| 35|
|   David| 40|
| Jessica| 22|
|  Daniel| 33|
|  Rachel| 29|
| Matthew| 26|
|Jennifer| 31|
+--------+---+

In [23]:
df_pyspark = spark.read.option('header','true').csv('age.csv')

In [26]:
type(df_pyspark), type(df)

(pyspark.sql.dataframe.DataFrame, pandas.core.frame.DataFrame)

In [27]:
df_pyspark.head(3)

[Row(Name='John', Age='25'),
 Row(Name='Emily', Age='30'),
 Row(Name='Michael', Age='28')]

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)